*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
    background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 40% 40% / 15%;
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 1px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(167, 167, 206, 0.3);
    background-image: linear-gradient( 135deg, rgb(18, 55, 84) 10%, rgb(50, 84, 152) 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
h2, p {
    text-underline: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 45px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #b7853a;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 rgba(183, 58, 58, 0);
}
button:hover{
    cursor: pointer;
}
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



.footer-dark {
    padding:50px 0;
    color: #f0f9ff;
    background-color: #123754;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {

    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social > a {
    font-size:20px;
    width:45px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

*{box-sizing : border-box}

img{max-width:100%}




.footer-basic {
    padding:40px 0;
    background-color: #123754;
    color: #ffffff;
    background-image: linear-gradient( 135deg, rgb(18, 55, 84) 10%, rgb(50, 84, 152) 100%);
    position: relative;
    top: 50px;
}

.footer-basic ul {
    padding:10px;
    list-style:none;
    text-align:center;
    font-size:20px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-bottom: 50px;
    text-align:center;
    font-size:13px;123754FF;
    color: #ffffff;
    margin-bottom:5px;
}

.animation{
    margin-top:70px;
    display:inline-block;
    margin-bottom:60px;
}
.one, .two, .three {
    display:block;
    float:left;
}
.one {

    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2281px%22%20height%3D%2280.5px%22%20viewBox%3D%220%200%2081%2080.5%22%20style%3D%22overflow%3Ascroll%3Benable-background%3Anew%200%200%2081%2080.5%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23383838%3B%7D%0A%3C%2Fstyle%3E%0A%3Cdefs%3E%0A%3C%2Fdefs%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M30.3%2C68.2c1.2%2C0.2%2C2.3%2C0.9%2C3.8%2C1.2c1.6%2C0.3%2C2.7%2C0.6%2C4%2C0.4l4.9%2C9.6c0.6%2C0.9%2C1.4%2C1.1%2C2.3%2C0.9l15.3-4.9%0A%09c0.5-0.3%2C1-1%2C0.9-2.3l-1.8-10.6c2-1.6%2C3.6-3.7%2C5.3-5.8l10.5%2C0.6c1.1%2C0.6%2C2.1-0.4%2C2.3-1.1L81%2C40.7c0.2-0.8-0.4-2.1-1.1-2.3l-10.2-3.8%0A%09c-0.3-2.5-1.4-4.8-2.5-7.5l5.9-8.5c0.6-1.1%2C0.4-1.9-0.2-2.9l-12-10.7c-0.3-0.5-1.6-0.3-2.5%2C0.3l-8%2C6.9c-1.2-0.2-2.3-0.9-3.8-1.2%0A%09c-1.6-0.3-2.7-0.6-4-0.4L37.7%2C1c-0.6-0.9-1.4-1.1-2.3-0.9L20.1%2C5c-0.5%2C0.3-1%2C1-0.9%2C2.3l1.8%2C10.6c-2%2C1.6-3.6%2C3.7-5.3%2C5.8L5.3%2C23%0A%09c-0.8-0.2-1.7%2C0.4-2%2C1.6L0%2C40.2c-0.2%2C0.8%2C0.4%2C2.1%2C1.1%2C2.3l9.8%2C3.7c0.7%2C2.6%2C1.4%2C5.2%2C2.5%2C7.5l-6%2C8.9c-0.6%2C0.7-0.4%2C2%2C0.3%2C2.5l12%2C10.7%0A%09c0.7%2C0.5%2C1.9%2C0.8%2C2.4%2C0.1L30.3%2C68.2z%20M26.7%2C37.3c1.6-7.4%2C9.1-12.3%2C16.5-10.8S55.6%2C35.7%2C54%2C43.1c-1.6%2C7.4-9.1%2C12.3-16.5%2C10.7%0A%09C30.1%2C52.3%2C25.1%2C44.7%2C26.7%2C37.3L26.7%2C37.3z%22%2F%3E%0A%3C%2Fsvg%3E');
    width:80px;
    height:80px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top:-10px;
    margin-right:8px;
}
.two {
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22103px%22%20height%3D%22103.7px%22%20viewBox%3D%220%200%20103%20103.7%22%0A%09%20style%3D%22overflow%3Ascroll%3Benable-background%3Anew%200%200%20103%20103.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23F6921E%3B%7D%0A%3C%2Fstyle%3E%0A%3Cdefs%3E%0A%3C%2Fdefs%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M87.3%2C64.8c0.3-1.5%2C1.1-2.9%2C1.6-4.9c0.4-2%2C0.7-3.5%2C0.5-5.1l12.3-6.3c1.2-0.8%2C1.4-1.8%2C1.1-2.9l-6.3-19.6%0A%09c-0.4-0.6-1.3-1.3-2.9-1.1l-13.5%2C2.3c-2.1-2.5-4.7-4.7-7.4-6.8l0.8-13.4C74.3%2C5.8%2C73%2C4.5%2C72%2C4.3L52.1%2C0c-1-0.2-2.7%2C0.5-2.9%2C1.5%0A%09l-4.8%2C13c-3.2%2C0.4-6.1%2C1.8-9.5%2C3.2l-10.9-7.5c-1.4-0.8-2.5-0.5-3.7%2C0.3L6.5%2C25.8c-0.6%2C0.4-0.4%2C2%2C0.4%2C3.2l8.8%2C10.2%0A%09c-0.3%2C1.5-1.1%2C2.9-1.5%2C4.9c-0.4%2C2-0.7%2C3.5-0.6%2C5.1L1.2%2C55.4c-1.2%2C0.8-1.4%2C1.8-1.1%2C2.9l6.3%2C19.6c0.4%2C0.6%2C1.3%2C1.3%2C2.9%2C1.1l13.5-2.3%0A%09c2.1%2C2.5%2C4.7%2C4.7%2C7.4%2C6.8l-0.8%2C13.4c-0.2%2C1%2C0.6%2C2.2%2C2.1%2C2.5l20%2C4.2c1%2C0.2%2C2.7-0.5%2C2.9-1.5l4.7-12.6c3.3-0.9%2C6.6-1.7%2C9.5-3.2L80.1%2C94%0A%09c0.9%2C0.7%2C2.5%2C0.5%2C3.2-0.4L97%2C78.3c0.7-0.9%2C1-2.4%2C0.1-3.1L87.3%2C64.8z%20M47.8%2C69.5C38.3%2C67.5%2C32%2C57.8%2C34%2C48.3%0A%09c2-9.5%2C11.7-15.8%2C21.2-13.8c9.5%2C2%2C15.7%2C11.7%2C13.7%2C21.2C66.9%2C65.2%2C57.3%2C71.5%2C47.8%2C69.5L47.8%2C69.5z%22%2F%3E%0A%3C%2Fsvg%3E');
    width:100px;
    height:100px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.three {
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aa%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeSVGViewerExtensions%2F3.0%2F%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2281px%22%20height%3D%2280.5px%22%20viewBox%3D%220%200%2081%2080.5%22%20style%3D%22overflow%3Ascroll%3Benable-background%3Anew%200%200%2081%2080.5%3B%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23383838%3B%7D%0A%3C%2Fstyle%3E%0A%3Cdefs%3E%0A%3C%2Fdefs%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M30.3%2C68.2c1.2%2C0.2%2C2.3%2C0.9%2C3.8%2C1.2c1.6%2C0.3%2C2.7%2C0.6%2C4%2C0.4l4.9%2C9.6c0.6%2C0.9%2C1.4%2C1.1%2C2.3%2C0.9l15.3-4.9%0A%09c0.5-0.3%2C1-1%2C0.9-2.3l-1.8-10.6c2-1.6%2C3.6-3.7%2C5.3-5.8l10.5%2C0.6c1.1%2C0.6%2C2.1-0.4%2C2.3-1.1L81%2C40.7c0.2-0.8-0.4-2.1-1.1-2.3l-10.2-3.8%0A%09c-0.3-2.5-1.4-4.8-2.5-7.5l5.9-8.5c0.6-1.1%2C0.4-1.9-0.2-2.9l-12-10.7c-0.3-0.5-1.6-0.3-2.5%2C0.3l-8%2C6.9c-1.2-0.2-2.3-0.9-3.8-1.2%0A%09c-1.6-0.3-2.7-0.6-4-0.4L37.7%2C1c-0.6-0.9-1.4-1.1-2.3-0.9L20.1%2C5c-0.5%2C0.3-1%2C1-0.9%2C2.3l1.8%2C10.6c-2%2C1.6-3.6%2C3.7-5.3%2C5.8L5.3%2C23%0A%09c-0.8-0.2-1.7%2C0.4-2%2C1.6L0%2C40.2c-0.2%2C0.8%2C0.4%2C2.1%2C1.1%2C2.3l9.8%2C3.7c0.7%2C2.6%2C1.4%2C5.2%2C2.5%2C7.5l-6%2C8.9c-0.6%2C0.7-0.4%2C2%2C0.3%2C2.5l12%2C10.7%0A%09c0.7%2C0.5%2C1.9%2C0.8%2C2.4%2C0.1L30.3%2C68.2z%20M26.7%2C37.3c1.6-7.4%2C9.1-12.3%2C16.5-10.8S55.6%2C35.7%2C54%2C43.1c-1.6%2C7.4-9.1%2C12.3-16.5%2C10.7%0A%09C30.1%2C52.3%2C25.1%2C44.7%2C26.7%2C37.3L26.7%2C37.3z%22%2F%3E%0A%3C%2Fsvg%3E');
    width:80px;
    height:80px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top:-50px;
    margin-left:-10px;
}
.spin-one {
    -webkit-animation: spin-one 1.5s infinite linear;
    animation: spin-one 1.5s infinite linear;
}
@keyframes spin-one {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}
.spin-two {
    -webkit-animation: spin-two 2s infinite linear;
    animation: spin-two 2s infinite linear;
}
@keyframes spin-two {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(359deg);
    }
}

.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #0080ff 0%,
            #111e5e 29%,
            #4f87d1 67%,
            #335983 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.wrapper{

    text-align:center;
}
.main-menu{
    text-align:left;
    display:inline-block;
    background-color:#fff
}
.main-menu a, .main-menu a:hover{
    text-decoration:none
}
.main-menu{
    list-style:none;
    padding:0;
    margin:0
}
.main-menu li{
    display:block;
:0;position:relative;
    vertical-align:top
}
.main-menu > li{
    background-color:#fff
}
.main-menu > li > a{
    background-color:#fff;
    display:block;
    padding:.75em 1.25em;
}
.main-menu ul.sub-menu{
    position:relative;
    padding:0}
.main-menu ul.sub-menu li{
    display:block
}
.main-menu ul.sub-menu a{
    background-color: #313133
;color:#fff
;padding:.75em 1.25em
;display:block
}
.main-menu > li:hover ul.sub-menu{}

.main-menu li{
    display:inline-block;
}
.main-menu > li > a {
    display:block;
}
.main-menu > li > a:hover{
    background-color:#f0f0f0;
    color: #313133
}

.main-menu > li:hover ul.sub-menu, .main-menu > li:focus ul.sub-menu{
    visibility: visible;
    opacity:1

}
.main-menu > li.menu-item-has-children{
    padding-right:1.5em;
    overflow:hidden
}
.main-menu > li.menu-item-has-children a{
    padding:.75em .7em .7em 1.25em
}
.main-menu > li.menu-item-has-children:hover a{
    background-color: #325498;
    color:#fff
}

.main-menu > li.menu-item-has-children:after{
    content:'';
    position:absolute;
    right:.5em;
    top:1.2em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #325498 transparent transparent}

.main-menu > li.menu-item-has-children:hover,
.main-menu > li.menu-item-has-children:focus{
    overflow:visible;
    background-color: #325498
}

.main-menu ul.sub-menu{
    width:12em;
    position:absolute;
    /*top:100%;*/top:0;
    z-index:900;padding-top:3em;
}
.main-menu ul.sub-menu li{
    opacity:0

}

.main-menu > li.menu-item-has-children:hover ul.sub-menu,

.main-menu > li.menu-item-has-children:focus ul.sub-menu{
    top:100%;
    padding-top:0;
}

.main-menu > li.menu-item-has-children:hover ul.sub-menu li,

.main-menu > li.menu-item-has-children:focus ul.sub-menu li{
    opacity:1
}

.main-menu ul.sub-menu li{
    display:block
}
.main-menu ul.sub-menu a{
    display:block
}
.main-menu ul.sub-menu a:hover{
    background-color: #111e5e;
}

a, .sub-menu, .menu-item{-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

body {
    font-family:sans-serif;
}

table{
    text-align: center;
    border : #123754 hidden;
    margin: 40px;
    border :1px hidden;
}
h4 {
    padding: 40px;
    margin: 30px;
    display: inline-block;
    background-color: #34495e;
    border-width: 40px;
    box-sizing: border-box;
    text-align: center;
    front-size: 25px;
}

h3{
    text-align: center;
}

*{box-sizing: border-box}

img{max-width: 100%}


input[type=radio]{

    position: absolute;
    left: -9999px

}/*on cache tous les input*/

.cadre-demo1 label{

    cursor:pointer/*on pointe tous les labels*/

}

.cadre-demo1{

    overflow: hidden;
    position: relative;
    max-width: 600px;
    margin: 2rem auto

}


.photos-mini{


    padding-top: 66.67%;/* il s'agit du ratio pour le responsive*/
    display: flex;

}

.miniature{

    flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
    padding:.25rem;

}


.fenetre{/*grande photo*/

    position: absolute;
    top: 0;
    left: 0;
    transition:transform .6s,opacity .6s;
    transform:translatex(-100%);
    opacity: 0

}

.fen:checked~ .fenetre{

    transform:translatex(0%);
    opacity: 1

}

.figcaption{/*optionnel*/

    position: absolute;
    top: 0;
    left: 0;
    padding: .25rem;
    transition: opacity .4s;
    opacity: 0;
    display: flex;
    justify-content: center;
    color: white;
    background: hsla(0,0%,0%,.8)

}

.fen:checked~.figcaption{

    opacity: 1

}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);


.jzdbox1 {
    width:315px;
    background:#332f2e;
    border-radius:5px;
    overflow:hidden;
    display:block;
    margin-bottom:10px;
    box-shadow:0 0 10px #201d1c;
    margin:0 auto;
    margin-top:100px;
}

.jzdcal {
    padding:0 10px 10px 10px;
    box-sizing:border-box!important;
    background:#749d9e;
    background: -webkit-linear-gradient(#749d9e, #b3a68b)!important;
    background: -o-linear-gradient(#749d9e, #b3a68b)!important;
    background: -moz-linear-gradient(#749d9e, #b3a68b)!important;
    background: linear-gradient(#749d9e, #b3a68b)!important;
}

.jzdcalt {
    font:18px 'Roboto';
    font-weight:700;
    color:#f7f3eb;
    display:block;
    margin:18px 0 0 0;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:1px;
}

.jzdcal span {
    font:11px 'Roboto';
    font-weight:400;
    color:#f7f3eb;
    text-align:center;
    width:42px;
    height:42px;
    display:inline-block;
    float:left;
    overflow:hidden;
    line-height:40px;
}

.jzdcal .jzdb:before {
    opacity:0.3;
    content:'o';
}

.circle {
    border:1px solid #f7f3eb;
    box-sizing:border-box!important;
    border-radius:200px!important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
    font:11px 'Roboto';
    font-weight:400;
    content:attr(data-title);
    position:absolute;
    margin:0 0 100px;
    background:#282423;
    border:1px solid #f7f3eb;
    color:#f7f3eb;
    padding:5px;
    z-index:9999;
    min-width:150px;
    max-width:150px;
}

