*{padding: 0; margin: 0; box-sizing: border-box;}
body{background-color: #123754;
    height: 900px;}
header {
    background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
    text-align: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 200% 200% / 15%;
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 2px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(227, 222, 222);
    background-image: linear-gradient( 135deg, rgb(18, 55, 84) 10%, rgb(50, 84, 152) 80%);



}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

body {
    font-family:sans-serif;
}
.wrapper{

    text-align:center;
}
.main-menu{
    text-align:left;
    display:inline-block;
    background-color:#fff
}
.main-menu a, .main-menu a:hover{
    text-decoration:none
}
.main-menu{
    list-style:none;
    padding:0;
    margin:0
}
.main-menu li{
    display:block;
:0;position:relative;
    vertical-align:top
}
.main-menu > li{
    background-color:#fff
}
.main-menu > li > a{
    background-color:#fff;
    display:block;
    padding:.75em 1.25em;
}
.main-menu ul.sub-menu{
    position:relative;
    padding:0}
.main-menu ul.sub-menu li{
    display:block
}
.main-menu ul.sub-menu a{
    background-color: #313133
;color:#fff
;padding:.75em 1.25em
;display:block
}
.main-menu > li:hover ul.sub-menu{}

.main-menu li{
    display:inline-block;
}
.main-menu > li > a {
    display:block;
}
.main-menu > li > a:hover{
    background-color:#f0f0f0;
    color: #313133
}

.main-menu > li:hover ul.sub-menu, .main-menu > li:focus ul.sub-menu{
    visibility: visible;
    opacity:1

}
.main-menu > li.menu-item-has-children{
    padding-right:1.5em;
    overflow:hidden
}
.main-menu > li.menu-item-has-children a{
    padding:.75em .7em .7em 1.25em
}
.main-menu > li.menu-item-has-children:hover a{
    background-color: #325498;
    color:#fff
}

.main-menu > li.menu-item-has-children:after{
    content:'';
    position:absolute;
    right:.5em;
    top:1.2em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #325498 transparent transparent}

.main-menu > li.menu-item-has-children:hover,
.main-menu > li.menu-item-has-children:focus{
    overflow:visible;
    background-color: #325498
}

.main-menu ul.sub-menu{
    width:12em;
    position:absolute;
    /*top:100%;*/top:0;
    z-index:900;padding-top:3em;
}
.main-menu ul.sub-menu li{
    opacity:0

}

.main-menu > li.menu-item-has-children:hover ul.sub-menu,

.main-menu > li.menu-item-has-children:focus ul.sub-menu{
    top:100%;
    padding-top:0;
}

.main-menu > li.menu-item-has-children:hover ul.sub-menu li,

.main-menu > li.menu-item-has-children:focus ul.sub-menu li{
    opacity:1
}

.main-menu ul.sub-menu li{
    display:block
}
.main-menu ul.sub-menu a{
    display:block
}
.main-menu ul.sub-menu a:hover{
    background-color: #111e5e;
}

a, .sub-menu, .menu-item{-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;}

.contenu_carou_auto{

    margin:1rem auto;
    width:400px;
    height:270px;
    perspective:9000px

}

.caroussel-image{

    animation:rotation 24s infinite alternate linear;
    transform-style:preserve-3d;
    position:relative;

}



.caroussel-image img{
    position: absolute;
}


.caroussel-image img{

    filter:drop-shadow(0 12px 20px hsla(0,0%,0%,.4));
    width:400px;
    height:300px;
    left:25px;
    outline:4px solid transparent;
    backface-visibility:hidden

}

.caroussel-image img:nth-child(1){

    transform:translate3d(0,0,495px)

}

.caroussel-image img:nth-child(2){

    transform:rotateY(45deg) translateZ(495px)

}

.caroussel-image img:nth-child(3){

    transform:rotateY(90deg) translateZ(495px)

}

.caroussel-image img:nth-child(4){

    transform:rotateY(135deg) translateZ(495px)

}

.caroussel-image img:nth-child(5){

    transform:rotateY(180deg) translateZ(495px)

}

.caroussel-image img:nth-child(6){

    transform:rotateY(225deg) translateZ(495px)

}

.caroussel-image img:nth-child(7){

    transform:rotateY(270deg) translateZ(495px)

}

.caroussel-image img:nth-child(8){

    transform:rotateY(315deg) translateZ(495px)

}

@keyframes rotation{
    from{transform:rotatey(0)}
    to{transform:rotatey(1turn)}}

.footer-basic {

    padding:40px 0;
    background-color: #123754;
    color: #ffffff;
    background-image: linear-gradient( 135deg, rgb(18, 55, 84) 10%, rgb(50, 84, 152) 100%);
    position: relative;
    top: 50px;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-bottom: 80px;
    text-align:center;
    font-size:15px;
    color: #ffffff;
    margin-bottom:5px;
}






